
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  margin: 0 ;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}
 
a {
  color: #0BCEAF;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
 
h1,h2,h3,h4,h5,h6,p{
  color: #020202 !important;
} 

 /* css */

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 15px;
}




/* Navbar */


.navbar-light {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0D6EFD;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 10px;
  }
}


/*Cards*/

.card{
  border-radius: 30px;
}

.card_icon{
  font-size: 80px;
  margin-top: -40px;
}

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

.carousel-inner{
  border-radius: 30px;
}



/*Footer*/
footer {
  background-color: #DEE2E6;
  padding-top: 80px;
}

footer h4 {
  margin-bottom: 24px;
}

footer p,
footer li,
footer li a {
  color: black;
} 


footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-top: 6px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-bottom a {
  color: var(--c-brand);
}

/* Error messaje form */

.error{
  color: red;
  width: "100 %";
  margin-top: 10px;
}